<h1>
  {{title}}
</h1>
<button (click)="reset()">Recomeçar</button>
<!--<h3 [style.color]="easyMode ? 'green' : 'red'"
    [innerText]="(easyMode ? 'Easy Mode' : 'Difficult Mode') + '(Click to Change)'"
    (click)="easyMode = !easyMode"></h3> !-->
<h2 *ngIf="won && computerWon">Você foi derrotado pela IA.</h2>
<h2 *ngIf="won && !computerWon">Você ganhou!!!</h2>
<h2 *ngIf="draw">O jogo terminou em empate.</h2>
<h2 *ngIf="yourTurn">Sua vez (Você é <span [innerText]="youAreX ? 'X' : 'O'"></span>)</h2>
<h2 *ngIf="!won && !draw && !yourTurn">Vez da IA.</h2>
<div *ngFor="let row of rows">
  <cell *ngFor="let col of row" [row]="col.row" [col]="col.col" [cellState]="col.state"
    [validTurn]="yourTurn" [winningCell]="col.winningCell"
    (stateChangeRequested)="stateChange(col)"></cell>
</div>
